html {
  font-size: 14px;
  background-color: rgba(161, 82, 144, 0.788);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}